body {
	font-family: 'Open Sans';
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h1,
h2,
h3 {
	font-family: 'Fira Code';
	line-height: 1.2
}

div.header h1 {
    padding-top: 0;
    padding-bottom: 8px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid;
}


.header-menu {
    float: right;
}

ul.pagination {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

ul.pagination > li {
    padding: 0 8px;
    display: inline-block;
}

div.footer {
    border-top: 1px solid;
    text-align: center;
	font-size: 80%;
}

div.copyright {
	color: grey;
	font-size: 80%;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* unvisited link */
a:link {
	color: red;
	background: white;
}

/* visited link */
a:visited {
	color: green;
}

/* mouse over link */
a:hover {
	color: white;
	background: red;
}

/* selected link */
a:active {
	color: green;
}

a.tags {
	text-decoration: none;
}

a.tags:link {
	color red;
	background: white;
}

a.tags:hover {
	color: white;
	background: red;
}

a.tags:visited {
	color: green;
}

a.tags::before {
	content: "#";
	font-weight: bold;
}

a.menu {
	text-decoration: none;
}

a.menu:link {
	color: red;
	background: white;
}

a.menu::first-letter {
	font-weight: 800;
	font-size: 20px;
}

a.title {
	text-decoration: none;
}
