::-moz-selection {
	color: #000;
	background: #34afff; }

::selection {
	color: #000;
	background: #34afff; }

html {
	font-size: 16px; }

body {
	font-family: 'Open Sans';
	/* font-family: "adobe-text-pro", serif; */
    margin: 0 auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
	color: #111;
	background-color: #fefefe;
	-webkit-transition: all 1000ms cubic-bezier(0.76, 0, 1, 1);
	transition: all 1000ms cubic-bezier(0.76, 0, 1, 1);
    /* padding: 0 10px; */
}

p {
	font-size: 1.3rem;
	line-height: 2.2rem;
	text-indent: 2.2rem;
	margin: 0; }

h1,
h2,
h3,
h4 {
	font-family: 'Fira Code';
	line-height: 1.2
}

div.header h1 {
    padding-top: 0;
    padding-bottom: 8px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 2px solid;
}

div.header h1:before {
	content: "";	
}

h1:before {
	content: "# ";
	color: #f0f0f0;
}

h2:before {
	content: "## ";
	color: #f0f0f0;
}

h3:before {
	content: "### ";
	color: #f0f0f0;
}

h4:before {
	content: "#### ";
	color: #f0f0f0;
}

.header-menu {
    float: right;
}

ul.pagination {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

ul.pagination > li {
    padding: 0 8px;
    display: inline-block;
}

div.footer {
	padding-top: 10px;
	margin-top: 20px;
	border-top: 2px solid;
    text-align: center;
	font-size: smaller;
}

div.copyright {
	color: #adabaa;
	font-size: 80%;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
	text-decoration: none;
	color: #111;
	padding-bottom: 1px;
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, #111 0%, #111 4%, rgba(0, 0, 0, 0) 4%);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #111 0%, #111 4%, rgba(0, 0, 0, 0) 4%);
	-webkit-transition: all 250ms cubic-bezier(0.76, 0, 1, 1);
	transition: all 200ms cubic-bezier(0.76, 0, 1, 1); }

a {
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, #ffea34 0%, #ffea34 24%, rgba(0, 0, 0, 0) 24%);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #ffea34 0%, #ffea34 24%, rgba(0, 0, 0, 0) 24%);
}
a:hover {
    background-color: #ffea34;
    color: #111; }


a.tags {
	padding-bottom: 1px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	background-image: none;
	font-size: smaller;	
}

a.tags:hover {
    background-color: #afff34;
	/* color: #fefefe; */
}
a.tags::before {
	content: "#";
	font-weight: bold;
}

a.menu {
	text-decoration: none;
}

a.title {
	background-image: none;
	font-weight: bold;
}

a.footer {
	background-image: none;
}

time {
	font-size: smaller;
}

blockquote {
	background: #f9f9f9;
	border-left: 0.5em solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p {
	display: inline;
}

blockquote span {
	display: block;
	color: #111;
	font-style: normal;
	font-weight: bold;
	margin-top: 1em;
	/* margin: 1.5em 10px; */
	padding: 0.5em 10px;
}

article {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.sidenote_r {
	float: right;
	clear: right;
	width: 40%;
	margin-right: -50%;
	padding: 0.5em 10px;
	position: relative;
	transform: translateY(-30%);
	border-left: 0.5em solid #afff34;
	background: #fcfff8;
	text-indent: 0;
}

.sidenote_l {
	float: left;
	clear: right;
	width: 40%;
	margin-left: -50%;
	padding: 0.5em 10px;
	position: relative;
	transform: translateY(-30%);
	border-right: 0.5em solid #afff34;
	background: #fcfff8;
	text-indent:0;
}

.sidenote_emph_r {
	float: right;
	clear: right;
	width: 40%;
	margin-right: -50%;
	padding: 0.5em 10px;
	position: relative;
	transform: translateY(-30%);
	border-left: 0.5em solid #ff8534;
	background: #fffbf8;
	text-indent: 0;
}

.sidenote_emph_l {
	float: left;
	clear: right;
	width: 40%;
	margin-left: -50%;
	padding: 0.5em 10px;
	position: relative;
	transform: translateY(-30%);
	border-right: 0.5em solid #ff8534;
	background: #fffbf8;
	text-indent:0;
}

code {
	background: #f8f9ff;
	font-size: 85%;
	border-radius: 3px;
	padding: .2em .4em;
}

pre code {
	background: #fefefe;
	display: block;
	/* border-left: 0.5em solid #e5e7ff; */
}

div.highlight {
	/* border-left: 0.5em solid #e5e7ff; */
}

dl {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

dt {
	font-weight: bold;
}

dd {
	border-right: 0.5em solid #ffea34;
}
